<footer class="text-white bg-dark">
    <div class="container py-4 py-lg-5">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3">
                <div class="fw-bold d-flex align-items-center mb-2"><span class="d-flex justify-content-center align-items-center me-2"><img class="d-inline-block align-top" src="/public/img/sublemento_logo.png" width="30" height="30"></span><span>Supplemento</span></div>
                <p class="text-muted">Pick a supplement,<br>learn about it.<br>Find a store.&nbsp;&nbsp;</p>
            </div>
            <div class="col-sm-4 col-md-3">
                <h3 class="fs-6 fw-bold text-white">Categories</h3>
                <ul class="list-unstyled">
                    <li><a class="link-secondary" href="/category/beauty">Beauty</a></li>
                    <li><a class="link-secondary" href="/category/sport">Sports&nbsp;</a></li>
                    <li><a class="link-secondary" href="/category/vitamin/mineral">Vitamins &amp; Minerals&nbsp;</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3">
                <h3 class="fs-6 fw-bold text-white">Contact Us</h3>
                <form>
                    <div class="input-group"><input class="form-control" type="email" id="bt-email" placeholder="email"><button class="btn btn-primary" type="button" onclick="emailAlert()"><i class="icon ion-android-send"></i></button></div>
                </form>
            </div>
            <div class="col-sm-4 col-md-3"></div>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <p>Copyright © 2022 Supplemento</p>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function emailAlert(){
        Swal.fire(
            "Your email address has been sent successfully",
            document.getElementById("bt-email").value +': We will contact you soon',
            'success'
            )
    }
</script>

</body>

</html>