<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Supplemento</title>
    <meta name="description" content="It is a simple layout website that helps and guides those struggling with finding the difference between serval types of supplements. Supplemento leads to knowing what are dangers and side effects of famous supplements are. Also it informs what their side effect and benefits are.">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="public/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/img/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="public/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="public/img/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="public/img/icons/android-chrome-512x512.png">
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top navbar-shrink p-3" id="mainNav">
        <div class="container-fluid"><a class="navbar-brand fs-3" href="/#page-top"><img class="d-inline-block align-top" src="public/img/sublemento_logo.png" width="40" height="40">Supplemento</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/category/beauty">Beauty </a></li>
                    <li class="nav-item"><a class="nav-link" href="/category/sport">Sports</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#categories">categories</a></li>
                </ul><form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
            </div>
        </div>
    </nav>